.custom-iconMail{
    color: #FF4D00;
}
.custom-iconLook{
    color: #FF4D00;
}
.btnRegister{
    width: 270px;
    margin-bottom: 50px;
}
.fromlogin--form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgLogin{
    margin-bottom: 50px;
}