* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Back {
  margin: 25px;
  max-width: 100%;
}
.active-slide img{
  margin-bottom: 40px;
  border-radius: 20px;
  /* box-shadow: -4px 0px 13px 20px rgba(51, 51, 51, 0.17); */
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: transform 0.5s ease;
  transform: scale(1);
}
.inactive-slide img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  transition: transform 0.5s ease, opacity 0.5 ease;
  transform: scale(0.85);
  filter: blur(2px); 
}
  .ant-carousel img:hover {
    transform: scale(1.05); 
  }
  .active-slide,
.inactive-slide {
    transition: all 0.5s ease;
    
}
.ant-carousel .slick-dots li button{
    background: #FFEEE0 ;
    opacity: 1; 
    border-radius: 50%;
    width: 13px;
    height: 13px;
}
.ant-carousel .slick-dots li.slick-active button{
    background: #FF4D00;
    height: 13px;
    width: 25px;
    border-radius: 0;
    border-radius: 5px;
}
  @media (max-width:700px){
    .active-slide img, .inactive-slide img{
        height: 350px;  
    }
  }