* {
  margin: 0;
  font-family: var(--font-noto-sans-thai) !important;
}

.container {
  width: 1200px;
  padding: 20px 0;
  margin: 20px auto;
}

.theme-navbar {
  background-image: linear-gradient(to left, #f9961d, #fa8811, #fc7906, #fd6902, #fe5604);
}

.card-cate {
  background-image: linear-gradient(to right top, #fe5503, #fd6a00, #fc7c05, #fb8c11, #f99b1f);
}

.bg-all {
  background: #ffffff;
}

:where(.css-dev-only-do-not-override-tpassh).ant-carousel .slick-dots li.slick-active ::after {
  border-radius: 10px;
  background-color: #fe5503;
}

:where(.css-dev-only-do-not-override-tpassh).ant-carousel .slick-dots li button {
  border-radius: 10px;
  background-color: #fe5503;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* ตัดข้อความหลังบรรทัดที่ 2 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}